body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header, footer{
    background-color:#333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.grid-item{
    border: 5px #ddd solid;
    display: block;
    transition: transform 0.3s ease;
}

.grid-item img{
    width: 100%;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 20px;
    gap: 20px;
    
}
grid-item:hover{
    transform: scale(1.05);
}

.grid-item-large{
    grid-column: span 2;
}    

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(13, 1fr);
    }
}

@media (max-width: 720px) {
    .grid-container{
        grid-template-columns: repeat(14, 1fr);
    }
}

